.headerContainer {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.628);
}

.logoNameContainer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 100px;
}

.name {
  text-align: center;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

.emptySpace {
  width: 50%;
}

.navigationContainer {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 15%;
}

.navigationLabel {
  font-size: 16px;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 2px;
  opacity: 0.8;
  width: 22%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  &::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    bottom: 0;
  }

  &:hover {
    opacity: 1;
    font-size: 17px;

    &::before {
      width: 100%;
    }
  }
}
