@import "../../vars";

.headerContainer {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.628);
}

.logoNameContainer {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @media (max-width: $small-laptop-breakpoint) {
    width: 30%;
  }
  @media (max-width: $tablet-breakpoint) {
    width: 50%;
  }
}

.logo {
  width: 100px;
}

.name {
  text-align: center;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

.emptySpace {
  width: 50%;
  @media (max-width: $small-laptop-breakpoint) {
    width: 40%;
  }
  @media (max-width: $tablet-breakpoint) {
    width: 0%;
  }
}

.navigationContainer {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 15%;
  @media (max-width: $small-laptop-breakpoint) {
    width: 30%;
  }
  @media (max-width: $tablet-breakpoint) {
    width: 50%;
    justify-content: flex-end;
    margin-right: 50px;
  }
}

.navigationLabel {
  font-size: 16px;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: 2px;
  opacity: 0.6;
  width: 22%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;

  @media (max-width: $small-desktop-breakpoint) {
    font-size: 14px;
    width: fit-content;
  }

  @media (max-width: $small-laptop-breakpoint) {
    font-size: 14px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    bottom: 0;
    transition: width 0.2s ease-in;
  }

  &:hover {
    opacity: 1;
  }

  &:hover:after {
    width: 90%;
  }
}
